figure{
	padding: 3em;
}
i:hover{
	color: black;
}
#landing{
	background: url('../img/background.jpg');
	background-size: cover;
}
#logo{
	opacity: .7;
	transition:all 1s;
	width: 30%
}
#logo:hover{
	opacity: 1;
}
#logo-canal{
	width: 100%;
}
#sesion{
	position: absolute;
}
#slogan{
	position: absolute;
	left: 40%;
	bottom: 30%;
}
.cover{
	height: 100px;
}
.desc{
	background: url('../img/fondos/fondo2.jpg');
	padding: 1em;
}
.formulario{
	background: #CFCFCF;
	border-radius: .3em;
	margin-top: 3em;
	padding: 1em;
}
.item-cover{
	background: #E1E2DE;
	display: inline-block;
	margin-bottom: .3em;
}
.relative{
	position: relative;
}
.shadow-white{
	text-shadow: .06em .071em .02em white;
}
.titulo{
	background: black;
	color: white;
	margin-top: 0;
	padding: .5em 0 .5em 0;
	width: 100%;
}